@font-face{
  font-family: 'DancingScript';
  src: url('DancingScript-Regular.otf');
  font-weight: bold;
}

body{
	background: black;
	font-family: 'DancingScript', arial;
	color: white;
}

.contenedorprincipal{
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}

header{
	background: #5b7989;
	text-align: left;
	text-shadow: 2px 3px 4px #02010a;
	border-radius: 10px 10px 0px 0px;
	//height: 10%;
}
nav{
	text-align: right;
	font-size: 20px;
	margin-right: 3%;
} 

nav a{
	text-decoration: none;
	color: white;
}

img{//border y sombras de imagenes
	box-shadow: 5px 8px 9px #82c3a6;
	border: solid black 2px;	
}

#subrayado{
	text-decoration:underline white;
}

.contenedorimagen1{
	background: #d5c75f;
	display: flex;
	flex-flow: row wrap;
}

.contenedorprincipal [class*="contenedorimagen"]{
	width: 100%;
	height:auto;
}

div [class*="imagen"]{
	min-height: auto;
	flex: 1 2 30%;
}

[class*=imagen] img{
	width: 75%;
	height: 75%;
	margin-left: 15%;
	margin-top: 4%;
}

.imagen1{
	order: 1;
	flex-grow: 1;
	-webkit-filter:blur(10px);
	filter: blur(10px);
}

.imagen2{
	order: 2;
	flex-grow: 1;
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}

.imagen3{
	order: 3;
	flex-grow: 1;
	-webkit-filter:sepia(90%);
	filter: sepia(90%);
}

.imagen4{
	order: 4;
	flex-grow: 1;
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}

.imagen5{
	order: 5;
	flex-grow: 1;
}

.imagen6{
	order: 6;
	flex-grow: 1;
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}

.pie{
	width: 100%;
	height: 300px;
	color: black;
	background:  #C6d5c5;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	flex-flow: row nowrap;
}

.pie div{
	width: 25%;
	height: 66%;
	margin: 2%;
	padding: 2%;
	flex: 1 2 40%;

}

.contacto{
	order: 1;
	flex-grow: 1;
}

.terminos{
	order: 2;
	flex-grow: 1;
}

.redes{
	order: 3;
	flex-grow: 1;
}

.derechos{
	order: 4;
	flex-grow: 1;
}

.redes img{
	width: 25px;
	border: none;
	margin: 3px;
	display: inline-block;
}

.redes p{
	font-size: 10px;
	display: inline-block;
}

@media(max-width: 899px){
	header{
	background: #5b7989;
	text-align: center;
	font-size: 20px;
	text-shadow: 2px 3px 4px #02010a;
	border-radius: 10px 10px 0px 0px;
	height: 10%;
}

nav{
	text-align: center;
	//font-size: 10px;
	margin-right: 3%;
} 

.contenedorprincipal{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

	.contenedorimagen1{
	background: #d5c75f;
	display: flex;
	flex-flow: row wrap;
	
}

.contenedorprincipal [class*="contenedorimagen"]{
	width: auto;
	height: auto;
}

div [class*="imagen"]{
	min-height: auto;
	flex: 1 2 100%;
	}

[class*=imagen] img{

	width: 75%;
	height: 75%;
	margin-left: 15%;
	margin-top: 4%;
}


	.pie{
	width: 100%;
	height: auto;
	color: black;
	background:  #C6d5c5;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	flex-flow: row wrap;
}

.pie div{
	width:  auto;
	height: auto;
	//border: solid 1px black;
	flex: 1 1 50%;
	text-align: center;

}
}